<ion-view title="Promise Tracker">
  <ion-content class="has-header has-footer">
    <div class="section-title home-header">
      <icon class="ion-clipboard"></icon> {{ 'MY_SURVEYS' | translate }}
    </div>
    <ul class="list">
      <li class="item" ng-repeat="survey in surveys">
        <a href="#/surveys/{{survey.id}}/start" class="survey-title">{{survey.title}}</a>
        <a href="#/surveys/{{survey.id}}/start">
          <button class="button button-stable right">
            <icon class="ion-edit"></icon>
          </button>
        </a>
        <span class="sub-line">{{survey.inputs.length}} {{ 'PROMPTS' | translate : "{NUM: survey.inputs.length}" : "messageformat" }}</span>
      </li>
    </ul>

    <div class="padding">
      <button type="submit" ng-click="openCodeModal()" class="button button-block button-calm"><icon class="ion-plus"></icon> {{ 'NEW_SURVEY' | translate }}</button>
    </div>

    <div class="padding center">
      <div ng-if="getUnsynced() > 0 && surveys !== {}" class="error-text">
        <p><i class="ion-alert"></i> {{getUnsynced()}} {{ 'UNSYNCED_SURVEYS' | translate : "{NUM: getUnsynced()}" : "messageformat" }}</p>
        <a href="#" ng-click="syncSurveys()" class="large">
          <p><icon class="ion-loop"></icon> {{ 'SYNC_NOW' | translate }}</p>
        </a>
      </div>
      <div ng-if="getUnsynced() == 0">
        <p><icon class="ion-checkmark"></icon> {{ 'ALL_SYNCED' | translate }}</p>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer home-footer bar-grey bar-menu">
    <a href="#/user">
      <button class="button button-icon ion-person"></button>
    </a>
    <a href="#/home" class="selected">
      <button class="button button-icon ion-clipboard"></button>
    </a>
  </div>
</ion-view>

<script id="enter-code.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class=title>{{ 'ENTER_CODE' | translate }}</h1>
      <button type="submit" class="button button-clear button-positive" ng-click="closeCodeModal(survey)">{{ 'CANCEL' | translate }}</button>
    </ion-header-bar>

    <ion-content>
      <form ng-submit="fetchSurvey(survey)">
        <div class="list">
          <label class="item item-input">
            <input type="number" placeholder="Ex: 56" ng-model="survey.code">
          </label>
        </div>
        <div ng-if="errorMessage.length > 0" class="padding error-message">
          <p>{{errorMessage}}</p>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-calm">{{ 'GET_SURVEY' | translate }}</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>