<ion-view title="Promise Tracker">
  <ion-content class="has-header has-home-footer" overflow-scroll="true">
    <div class="section-title home-header">
      <icon class="ion-clipboard"></icon> {{ 'MY_SURVEYS' | translate }}
      <icon class="ion-plus-circled right new-survey" ng-click="openCodeModal()"></icon>
    </div>
    <ion-list id="surveys-list">
      <ion-item ng-repeat="survey in surveys" item="survey" can-swipe="true">
        <a class="button button-clear right" href="#/surveys/{{survey.id}}/start">
          <icon class="ion-chevron-right right"></icon>
        </a>
        <a href="#/surveys/{{survey.id}}/start" class="survey-info">
          <h4 class="survey-title">{{survey.title}}</h4>
          <h6 class="test-warning" ng-show="{{survey.status === 'test'}}"><icon class="ion-wrench"></icon> {{ 'TESTING_ONLY' | translate}}</h4>

          <span class="sub-line" ng-show="{{survey.status !== 'test'}}">{{ 'RESPONSES' | translate : "{NUM: countSynced(survey.id)}" : "messageformat" }}</span>
        </a>

        <!-- Swipe options -->
        <ion-option-button class="button button-calm" ng-click="viewMap(survey.id)">
          <icon class="ion-map"></icon>
        </ion-option-button>
        <ion-option-button class="button button-pink" ng-click="deleteSurvey(survey.id)">
          <icon class="ion-close"></icon>
        </ion-option-button>
      </ion-item>
    </ion-list>

    <!-- Intro text for new users -->
    <img src="images/intro-arrow.png" ng-show="surveyCount == 0" class="intro-arrow">
    <div class="padding center subtle" ng-show="surveyCount == 0" id="intro-text">
      <h4>{{ 'GREETING' | translate }}</h4>
      <p class="get-started">{{ 'GET_STARTED' | translate }}</p>
    </div>
  </ion-content>
  <div class="bar home bar-footer">
    <div id="status">
      <div ng-show="showSyncingStatus">
        <p>
          <icon class="ion-looping"></icon> {{ 'SYNCING' | translate }} <!-- ({{syncMessage}}) -->
        </p>
      </div>
      <div ng-show="!showSyncingStatus && showNeedSyncStatus" class="alert">
        <p>
          <icon class="ion-alert"></icon> {{unsynced}} {{ 'UNSYNCED_SURVEYS' | translate : "{NUM: unsynced}" : "messageformat" }}
          <button class="button button-bare sync-button" ng-click="syncSurveys()">{{ 'SYNC_NOW' | translate }}<icon class="ion-loop"></icon></button>
        </p>
      </div>
    </div>
    <div class="bar bar-menu nav-menu">
      <a href="#/user">
        <button class="button button-icon ion-person"></button>
      </a>
      <a href="#/home" class="selected">
        <button class="button button-icon ion-clipboard"></button>
      </a>
    </div>
  </div>
</ion-view>

<!-- Enter code modal -->
<script id="enter-code.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class=title>{{ 'SURVEY_CODE' | translate }}</h1>
      <button type="submit" class="button button-clear button-positive" ng-click="closeCodeModal(survey)">{{ 'CANCEL' | translate }}</button>
    </ion-header-bar>

    <ion-content>
      <form ng-submit="fetchSurvey(survey)">
        <p class="center help-text">{{ 'SURVEY_CODE_PROMPT' | translate }}:</p>
        <div class="list">
          <label class="item item-input enter-code-input">
            <input type="tel" placeholder="Ex: 568-237" auto-focus ng-model="survey.code">
          </label>
        </div>
        <div ng-if="errorMessage.length > 0" class="padding error-message">
          <p>{{ errorMessage | translate }}</p>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-calm">
            <icon ng-if="surveyLoading" class="ion-loading-c"></icon>
            <span ng-if="!surveyLoading">{{ 'GET_SURVEY' | translate }}</span>
          </button>
        </div>
      </form>
    </ion-content>
  </div>
</script>