<ion-view title="Promise Tracker">
  <ion-content class="has-header has-home-footer">
    <div class="section-title home-header">
      <icon class="ion-clipboard"></icon> {{ 'MY_SURVEYS' | translate }}
      <icon class="ion-plus-circled right new-survey" ng-click="openCodeModal()"></icon>
    </div>
    <ul class="list">
      <li class="item" ng-repeat="survey in surveys">
        <div ng-click="removeTemplate(survey.id)"class="button button-clear right">
          <icon class="ion-close"></icon>
        </div>
        <a href="#/surveys/{{survey.id}}/start" class="survey-info">
          <h4 class="survey-title">{{survey.title}}</h4>
          <span class="sub-line">{{countSynced(survey.id)}} {{ 'RESPONSES' | translate : "{NUM: countSynced(survey.id)}" : "messageformat" }}</span>
        </a>
      </li>
    </ul>
    is syncing: {{status.syncing}}<br>
    needs sync: {{status.needsSync()}}
    <div class="padding center subtle" ng-show="surveyCount == 0" id="intro-text">
      <h4>{{ 'GREETING' | translate }}</h4>
      <p class="get-started">{{ 'GET_STARTED' | translate }}</p>
      <button type="submit" ng-click="openCodeModal()" class="button button-block button-calm"><icon class="ion-plus"></icon> {{ 'NEW_SURVEY' | translate }}</button>
    </div>


  </ion-content>
  <div class="bar home bar-footer">
    <div id="status" class="{alert: !status.syncing && status.needsSync()}">
      <div ng-show="status.syncing">
        <p>
          <icon class="ion-looping"></icon> {{ 'SYNCING' | translate }}
        </p>
      </div>
      <div ng-show="status.needsSync()">
        <p>
          <icon class="ion-alert"></icon> {{ 'UNSYNCED_SURVEYS' | translate }}
          <button class="button button-bare sync-button" ng-click="syncSurveys()">{{ 'SYNC_NOW' | translate }}<icon class="ion-loop"></icon></button>
        </p>
      </div>
    </div>
    <div class="bar bar-menu nav-menu">
      <a href="#/user">
        <button class="button button-icon ion-person"></button>
      </a>
      <a href="#/home" class="selected">
        <button class="button button-icon ion-clipboard"></button>
      </a>
    </div>
  </div>
</ion-view>

<script id="enter-code.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class=title>{{ 'SURVEY_CODE' | translate }}</h1>
      <button type="submit" class="button button-clear button-positive" ng-click="closeCodeModal(survey)">{{ 'CANCEL' | translate }}</button>
    </ion-header-bar>

    <ion-content>
      <form ng-submit="fetchSurvey(survey)">
        <div class="list">
          <label class="item item-input">
            <input type="number" placeholder="Ex: 56" ng-model="survey.code">
          </label>
        </div>
        <div ng-if="errorMessage.length > 0" class="padding error-message">
          <p>{{ errorMessage | translate }}</p>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-calm">
            <icon ng-if="surveyLoading" class="ion-loading-c"></icon>
            <span ng-if="!surveyLoading">{{ 'GET_SURVEY' | translate }}</span>
          </button>
        </div>
      </form>
    </ion-content>
  </div>
</script>