<ion-view title="Promise Tracker">
  <ion-content class="has-header has-survey-footer" overflow-scroll="true">
    <div class="padding">
      <div class="survey-header border-bottom">
        <h2 class="section-title">{{survey.title}}</h2> 
      </div>
      <icon class="ion-close top-cancel-button" ng-click="cancelResponse()"></icon>
    </div>

    <div class="padding prompt-card">
      <div>
        {{index +1}}. {{input.label}}
      </div>
      <div id="error-message" class="padding" ng-show="errorMessage.length > 0 && !inputValid(input)">
        {{errorMessage | translate}}
      </div>
      <br>

      <!-- Image -->
      <div ng-if="input.input_type=='image'">
        <a class="item no-border item-icon-left assertive" ng-click="getImage()">
          <i class="icon ion-ios7-camera"></i> {{ 'TAKE_PICTURE' | translate }}<br>
        </a>
        <img class="image-preview" ng-src="{{input.answer}}"/>
      </div>

      <!-- Location -->
      <a ng-if="input.input_type=='location'" class="item item-icon-left assertive no-border" ng-click="getLocation()">
        <i class="icon ion-ios7-location"></i>
        {{ 'GET_LOCATION' | translate }}
        <p class="light" ng-if="input.msg && input.msg !== ''"><icon class="ion-loading-c"></icon> {{input.msg}}</p>
        <p class="light" ng-if="input.answer.lon">({{input.answer.lon}}, {{input.answer.lat}})</p>
      </a>

      <!-- Text -->
      <label ng-if="input.input_type=='text'" class="item item-input">
        <textarea rows="5" autofocus ng-model="input.answer"></textarea>
      </label>

      <!-- Number -->
      <label ng-if="input.input_type=='number'" class="item item-input">
        <input type="number" placeholder="Enter a number" ng-model="input.answer">
      </label>

      <!-- Date -->
      <label ng-if="input.input_type=='date'" class="item item-input">
        <input type="date" ng-model="input.answer">
      </label>

      <!-- Select one -->
      <div ng-if="input.input_type=='select1'" class="list answer-list">
        <label class="select">{{ 'CHOOSE_ONE' | translate}}:</label>
        <ul>
          <li ng-repeat="option in input.options">
            <label class="item item-radio">
              <input type="radio" name="input.id" value="{{option}}" ng-model="input.answer" checked="input.answer == option">
              <div class="item-content">
                {{option}}
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </li>
        </ul>
      </div>

      <!-- Select many -->
      <div ng-if="input.input_type=='select'" class="list">
        <label class="select">{{ 'CHOOSE_MANY' | translate}}:</label>
        <ul>
          <li class="item item-checkbox" ng-repeat="option in input.options">
            <label class="checkbox">
              <input type="checkbox" ng-model="input.answer[$index]" checked="input.answer[$index]">
            </label>
            {{option}}
          </li>
        </ul>    
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer survey-footer">
    <div class="progress-bar">
      <div class="progress" style="width: {{((index + 1) / survey.inputs.length) * 100}}%"></div>
    </div>
    <div class="padding nav-buttons">
      <button ng-if="index > 0" class="left button button-calm icon-left ion-chevron-left pad-right" ng-click="previousPrompt()">{{ 'BACK' | translate }}</button>
      <button class="right button button-calm icon-right ion-chevron-right pad-left" ng-click="nextPrompt(input)">{{ 'NEXT' | translate }} </button>  
    </div> 
  </div>
</ion-view>