<ion-content class="has-header">
  <div class="padding">
    <div class="home-header">
      <h2 class="section-title">{{survey.campaign.title}}</h2>
      <p class="sub-line">{{survey.inputs.length}} prompts/questions</p> 
      <hr>
    </div>
    <p> 
      Description text for survey...<br>
      Helpful tips for data collection, etc. Should this text always be visible or should it hide when users have already filled out this form?
    </p>
    <br>
    <p>
      <!-- Replace with real launch/end dates -->
      <strong>Launch date:</strong> 12 Dec, 2013<br>
      <strong>End date:</strong> 12 Mar, 2013
    </p>
    <br>
    <a class="button button-positive button-block" ng-click="startSurvey()">
      Start survey
    </a>
  </div>
</ion-content>