<ion-content class="has-header has-footer">
  <div class="padding">
    <div class="home-header border-bottom">
      <h2 class="section-title">{{survey.title}}</h2> 
    </div>
    <br><br>
    <div class="center">
      <p><strong>{{ 'DESCRIPTION' | translate }}:</strong></p>
      <p>{{survey.description}}</p>
      <br>
      <p><strong>{{ 'START_DATE' | translate }}:</strong></p>
      <p>{{survey.start_date}}</p>
      <br>
      <br>
    </div>
    <!-- <div class="center" id="location-permission">
      <p>Location information will be recorded upon starting this survey. To complete the form without location, check below:</p>
      <label class="checkbox">
        <input type="checkbox" ng-model="locationDisabled" checked="locationPermitted">
        Record without location
      </label>
    </div> -->
    <a class="button button-calm button-block" ng-click="startSurvey()">
      {{ 'START_SURVEY' | translate }}
    </a>

  </div>
</ion-content>
<div class="bar bar-footer cancel-survey">
  <div class="center">
    <a href="#/home" class="subtle button-cancel">
      <icon class="ion-close"></icon> {{ 'CANCEL' | translate }}
    </a>
  </div>
</div>