<ion-content class="has-header">
  <div class="padding center">
    <div class="home-header">
      <h2 class="section-title">{{survey.campaign.title}}</h2> 
      <hr>
    </div>
  
    <p>You have completed the survey!</p>

    <br><br>
    <a class="button button-positive button-block" ng-click="submitSurvey()">
      Submit now
    </a>
    <a class="button button-stable button-block" ng-click="saveSurvey()">
      Submit later
    </a>
  </div>
  <div class="padding nav-buttons">
    <br><br>
    <button class="left button button-calm icon-left ion-chevron-left" ng-click="backToSurvey()">Back</button>
  </div> 
</ion-content>