<ion-view title="Promise Tracker">
  <ion-content class="has-header has-footer">
    <div class="padding center">
      <div class="survey-header border-bottom">
        <h2 class="section-title">{{survey.title}}</h2> 
        <icon class="ion-close top-cancel-button" ng-click="cancelResponse()"></icon>
      </div>
    
      <p>{{ 'RESPONSE_COMPLETE' |  translate }}</p>

      <br><br>
      <a class="button button-positive button-block" ng-click="submitResponse()">
        {{ 'SUBMIT_NOW' |  translate }}
      </a>
      <p class="button button-stable button-block" ng-click="saveResponse()">
        {{ 'SUBMIT_LATER' |  translate }}
      </p>
    </div>
  </ion-content>
  <div class="bar bar-footer survey-footer">
    <div class="progress-bar">
      <div class="progress" style="width: 100%"></div>
    </div>
    <div class="padding nav-buttons">
      <button class="left button button-calm icon-left ion-chevron-left pad-right" ng-click="backToSurvey()">  {{ 'BACK' | translate }}</button>
    </div> 
  </div>
</ion-view>