<ion-content class="has-header">
  <div class="padding">
    <div class="home-header">
      <h2 class="section-title">{{survey.title}}</h2>
      <p class="sub-line">{{survey.inputs.length}} {{ 'PROMPTS' | translate : "{NUM: survey.inputs.length}" : "messageformat"}}</p> 
      <hr>
    </div>
    <p>{{ survey.description }}</p>
    <br>
    <p>
      <strong>{{ 'START_DATE' | translate }}</strong> {{survey.start_date}}<br>
    </p>
    <br>
    <a class="button button-calm button-block" ng-click="startSurvey()">
      {{ 'START_SURVEY' | translate }}
    </a>
    <div class="padding center">
      <a href="#/home" class="subtle">{{ 'CANCEL' | translate }}</a>
    </div>
  </div>
</ion-content>