<ion-view title="Promise Tracker">
  <ion-content class="has-header has-footer">
    <div class="padding center">
      <div class="survey-header border-bottom">
        <h2 class="section-title">{{survey.title}}</h2>
      </div>

      <br>
      <div ng-if="location.coordinates.lon">
        <p><i class="icon ion-checkmark-circled turquoise"></i> {{ 'ALL_SET' |  translate }}</p>
      </div>
      <p></i> {{ 'RESPONSE_COMPLETE' |  translate }}</p>
      <div id="location-missing" ng-if="location.consent && !location.coordinates.lon">
        {{ 'LOCATION_MISSING' |  translate }}<br>
        <button class="button button-calm margin-top small" ng-click="getLocation()">
          <span ng-if="location.status === null">
            <i class="icon ion-ios7-location"></i>
            {{ 'GET_LOCATION' | translate }}
          </span>
          <span ng-if="location.status === 'searching'">
            <i class="icon ion-looping"></i>
          </span>
        </button>
      </div>
      <br><br>
      
      <a class="button button-positive button-block" ng-click="submitResponse()">
        {{ 'SUBMIT_NOW' |  translate }}
      </a>
      <button class="button button-stable button-block" ng-click="saveResponse()">
        {{ 'SUBMIT_LATER' |  translate }}
      </button>
    </div>
  </ion-content>
  <div class="bar bar-footer survey-footer">
    <div class="progress-bar">
      <div class="progress" style="width: 100%"></div>
    </div>
    <div class="padding nav-buttons">
      <button class="left button button-calm icon-left ion-chevron-left pad-right" ng-click="backToSurvey()">  {{ 'BACK' | translate }}</button>
      <button class="subtle button-cancel" ng-click="cancelResponse()">
        <icon class="ion-close"></icon>
      </button>
    </div> 
  </div>
</ion-view>