<ion-view title="User profile">
  <ion-content class="has-header has-footer">
    <div class="section-title home-header">
      <icon class="ion-person"></icon> My profile
    </div>
    <div class="padding">
      <div class="bio">
        <p>
          Community activist and leader in youth development programs. Passionate about making Santa Lucia a better neighborhood!
        </p>
      </div>

      <div class="row center">
        <div class="col">
          <h1>{{surveys.length}}</h1>
          <p>data collection campaigns</p>
        </div>
        <div class="col">
          <h1>{{responses.length}}</h1>
          <p>surveys completed</p> 
        </div>
      </div>
      
      <a class="button button-calm button-block" href="#/home">
        My surveys
      </a>
      <a class="delete-link" href="#" ng-click="deleteSurveys()">Delete all survey forms</a>
    </div>
  </ion-content>
  <div class="bar bar-footer home-footer bar-menu">
    <a href="#/user" class="selected">
      <button class="button button-icon ion-person"></button>
    </a>
    <a href="#/home">
      <button class="button button-icon ion-clipboard"></button>
    </a>
  </div>
</ion-view>