<ion-view title="User profile">
  <ion-content class="has-header has-footer">
    <div class="section-title home-header">
      <icon class="ion-person"></icon> {{ 'MY_PROFILE' | translate }}
    </div>
    <div class="padding">
      <h4>{{user.username}}</h4>
      <div class="bio">
        <div ng-if="user.bio">
          <p>{{user.bio}}</p>
          <a href="#">{{ 'EDIT_BIO' | translate }}</a>
        </div>
        <div ng-if="!user.bio" class="padding">
          <button ng-click="openCodeModal()" class="button button-stable"><icon class="ion-plus"></icon> {{ 'ADD_BIO' | translate }}</button>
        </div>
      </div>

      <div class="row center">
        <div class="col">
          <h1>{{surveys.length}}</h1>
          <p>{{ 'CAMPAIGNS' | translate: "{NUM: surveys.length}" : "messageformat" }}</p>
        </div>
        <div class="col">
          <h1>{{responses.length}}</h1>
          <p>{{ 'SURVEYS' | translate: "{NUM: responses.length}" : "messageformat" }}</p> 
        </div>
      </div>
      
      <a class="button button-calm button-block" href="#/home">
        {{ 'MY_SURVEYS' | translate }}
      </a>
      <div class="padding center">
        <a class="subtle" href="#" ng-click="deleteSurveys()">{{ 'DELETE_SURVEYS' | translate }}</a>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer home-footer bar-menu">
    <a href="#/user" class="selected">
      <button class="button button-icon ion-person"></button>
    </a>
    <a href="#/home">
      <button class="button button-icon ion-clipboard"></button>
    </a>
  </div>
</ion-view>