<ion-view title="User profile">
  <ion-content class="has-header has-footer" overflow-scroll="true">
    <div class="section-title home-header">
      <icon class="ion-person"></icon> {{ 'MY_PROFILE' | translate }}
    </div>
    <div class="padding center" id="user-info">
      <img src="images/user-icon.png" class="profile-image">
      <h2 ng-if="user.username">{{user.username}}</h2>
      <div class="bio">
        <div ng-if="user.bio">
          <p>{{user.bio}}</p>
          <a href="" ng-click="openUserModal()">{{ 'EDIT_BIO' | translate }}</a>
        </div>
        <div ng-if="!user.bio" class="padding">
          <button ng-click="openUserModal()" class="button button-calm"><icon class="ion-plus-circled"></icon> {{ 'ADD_BIO' | translate }}</button>
        </div>
      </div>
    </div>

    <div class="row center" id="user-stats">
      <div class="col">
        <h1>{{responses.length}}</h1>
        <p>{{ 'RESPONSES' | translate: "{NUM: responses.length}" : "messageformat" }}</p> 
      </div>
    </div>
  </ion-content>
  <div class="bar user bar-footer">
    <div class="bar bar-menu nav-menu">
      <a href="#/user" class="selected">
        <button class="button button-icon ion-person"></button>
      </a>
      <a href="#/home">
        <button class="button button-icon ion-clipboard"></button>
      </a>
    </div>
  </div>
</ion-view>

<!-- Add bio modal -->
<script id="user-info.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class=title>{{ 'USER_INFO' | translate }}</h1>
      <button type="submit" class="button button-clear button-positive" ng-click="closeUserModal(user)">{{ 'CANCEL' | translate }}</button>
    </ion-header-bar>

    <ion-content>
      <form ng-submit="updateUser(user)">
        <div class="padding user-form">
          <label>{{ 'USERNAME' | translate }}</label>
          <input type="text" value="{{user.username}}" ng-model="user.username">
          <br>
          <label>{{ 'BIO' | translate }}</label>
          <textarea ng-model="user.bio"></textarea>
          <div ng-if="errorMessage.length > 0" class="padding error-message">
            <p>{{errorMessage}}</p>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-calm">{{ 'SAVE' | translate }}</button>
          </div>
        </div>
      </form>
    </ion-content>
  </div>
</script>