* {
  font-family: 'Open Sans', sans-serif !important;
}

p {
  font-size: 1.2em
}

a, a:visited, .button.button-positive.button-clear {
  color: #66c6ba;
  text-decoration: none;
}

.prompt-card ul {
  margin-top: 10px;
}

.assertive, a.assertive {
  color: #ea7669;
}

.large {
  font-size: 1.3em;
}

.small {
  font-size: .9em;
}

.popup {
  background-color: white;
}

.no-border {
  border: 0px solid transparent;
}

.bar-grey {
  background: #333;
}

.nav-menu {
  height: 60px !important;
  background: #353535;
}

.nav-menu a, .nav-menu a:visited, .nav-menu button {
  color: #d3d3d3;
}

.nav-menu a.selected .button {
  border-bottom: 2px solid #5a5a5e;
}

.nav-menu button:hover {
  color: #d3d3d3;
}

.bar-menu {
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.bar-menu .button {
  width: 48%;
  padding-bottom: 5px;
  border-radius: 0;
}

.button {
  border-radius: 4px;
}

.button-calm {
  background-color: #66c6ba !important;
  border: none;
}

.button-pink {
  background-color: #ea7669 !important;
  color: white;
  border: none;
}

.button-bare, .button-bare.activated {
  background-color: transparent;
  color: white;
  border-color: white;
}

.button-bare.with-border {
  border-color: #66c6ba;
  color: #5a5a5e;
}

.section-title {
  margin-bottom: 0;
  font-size: 22px;
  position: relative;
  text-align: center;
  color: #66c6ba;
}

.section-title icon {
  padding-right: 10px;
}

.sub-line {
  color: grey;
  font-size: .9em;
  display: block;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.no-border {
  border-width: 0px;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.pad-top {
  padding-top: 10px;
}

.unpad-top {
  padding-top: 0px !important;
}

.padding {
  padding: 10px 30px;
}

button.icon-left.pad-right:before {
  padding-right: 10px !important;
}

button.icon-right.pad-left:before {
  padding-left: 10px !important;
}

.error-message {
  color: #ea7669;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin: 10px;
  text-align: center;
}

.error-text {
  color: #ea7669;
}

.survey-header, .home-header {
  padding: 5px 0 15px 0;
  text-align: center;
  margin: 10px 0;
}

.home-header {
  padding: 15px;
}

.has-footer {
  bottom: 60px;
}

/*Index page*/

.branding img {
  height: 28px;
  width: auto;
  margin-left: 20px;
}

.branding .title {
  padding-top: 4px;
}

.bar-header {
  background: #5a5a5e;
  padding: 12px 8px;
  height: 52px;
}

.title {
  color: white;
  font-weight: normal;
}

/*Home page*/

.submission-status {
  width: 100%;
  font-size: 16px;
}

.has-header {
  top: 52px;
}

.has-home-footer {
  bottom: 110px;
}

.home.bar-footer {
  height: 110px;
  padding: 0;
  text-align: center;
  display: block;
  border-color: transparent;
  background-image: none;
}

.user.bar-footer {
  height: 60px;
  padding: 0px;
}

#surveys-list .item-content {
  padding: 15px 32px 15px 15px;
}

.survey-info {
  display: block;
}

.survey-title {
  color: #66c6ba;
  font-weight: normal;
  font-size: 1.2em !important;
  line-height: 1.3em;
}

.test-warning {
  color: #c15d56;
  line-height: 1.3em;
}

.test-explanation {
  background: #f9f0ef;
  border-radius: 3px;
  padding: 20px;
  margin: 10px 0;
}

.test-explanation icon {
  font-size: 150%;
  margin-bottom: 10px;
}

#intro-text {
  padding: 20px;
}

.intro-arrow {
  position: absolute;
  top: 60px;
  right: 35px;
}

.new-survey {
  font-size: 1.5em;
  margin-top: -5px;
}

#status {
  height: 50px;
  background: #e9eae8;
}

#status div {
  padding: 10px;
}

#status p {
  padding-top: 5px;
}

#status .alert {
  background: #ea7669;
}

.sync-button {
  margin-top: -5px;
  margin-left: 20px;
}

.help-text {
  margin: 15px 0;
}

.item-options .button, .center-icon {
  padding: 12px;
  font-size: 20px;
}

.item-options .ion-share {
  font-size: 1.3em;
}

/*Response start page*/

#location-consent {
  margin-top: 30px;
}

/*User account page*/

#user-info {
  border-bottom: 1px solid whitesmoke;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bio {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.subtle, a.subtle {
  color: #5a5a5e;
}

.user-form label {
  color: grey;
  margin-bottom: 5px;
}

.user-form textarea {
  height: 80px;
  padding-top: 10px;
}

.bio {
  min-height: 80px;
}

#user-stats {
  padding-top: 20px;
}

/*Input display*/

.has-survey-footer {
  bottom: 95px;
}

.image-preview {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

label.select {
  color: grey;
  margin-bottom: 10px;
}

.top-cancel-button {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #808085;
  padding: 10px 20px;
}

.prompt-card {
  min-height: 150px;
  padding: 10px 30px;
}

.bar-footer {
  height: auto;
  display: block;
}

.survey-footer {
  display: block;
  height: 95px;
  padding: 0;
}

.survey-footer p {
  margin: 5px 0;
  text-align: center;
}

.cancel-survey {
  height: 60px;
  padding: 20px 5px;
}

.button-cancel {
  min-height: 47px;
  min-width: 100px;
  display: inline-block;
  margin: 0 auto;
  border: 0;
  background: transparent;
}

.nav-buttons {
  height: 60px;
  padding: 10px 5px;
  background: whitesmoke;
  display: block;
  overflow: hidden;
  text-align: center;
}

.nav-buttons .button, .button-cancel {
  min-height: 40px;
  padding: 0 12px;
}

.nav-buttons .right {
  position: absolute;
  right: 20px;
}

.nav-buttons .left {
  position: absolute;
  left: 20px;
}

.answer-list .item-instruction {
  font-weight: bold;
}

.progress-bar {
  display: block;
  margin: 10px 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 3px;
  height: 15px;
  overflow: hidden;
}

.progress-bar .progress {
  background: #66c6ba;
  height: 100%;
}

#error-message {
  background: #f9f0ef;
  color: #ea7669;
  margin-top: 10px;
  padding-left: 20px;
}

.enter-code-input input {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  line-height: 20px;
}

.wrap .item-content, .wrap {
  white-space: normal !important;
}
