* {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.2em
}

a, a:visited, .button.button-positive.button-clear {
  color: #66c6ba;
  text-decoration: none;
}

.prompt-card ul {
  margin-top: 10px;
}

.assertive, a.assertive {
  color: #ea7669;
}

.large {
  font-size: 1.3em;
}

.bar-grey {
  background: #333;
}

.nav-menu {
  height: 60px !important;
  background: #353535;
  display: flex !important;
}

.nav-menu a, .nav-menu a:visited, .nav-menu button {
  color: #d3d3d3;
}

.nav-menu a.selected {
  border-bottom: 2px solid #5a5a5e;
}

.nav-menu button:hover {
  color: #d3d3d3;
}

.bar-menu {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.bar-menu a {
  padding-bottom: 5px;
  margin: 0 auto;
}

.button {
  border-radius: 4px;
}

.button-calm {
  background-color: #66c6ba !important;
  border: none;
}

.button-pink {
  background-color: #ea7669 !important;
  color: white;
  border: none;
}

.button-bare, .button-bare.activated {
  background-color: transparent;
  color: white;
  border-color: white;
}

.button-bare.with-border {
  border-color: #66c6ba;
  color: #5a5a5e;
}

.section-title {
  margin-bottom: 0;
  font-size: 22px;
  position: relative;
  text-align: center;
  color: #66c6ba;
}

.section-title icon {
  padding-right: 10px;
}

.sub-line {
  color: grey;
  font-size: .9em;
  display: block;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.error-message {
  color: #ea7669;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin: 10px;
  text-align: center;
}

.error-text {
  color: #ea7669;
}

.home-header {
  padding: 15px;
  text-align: center;
  margin-top: 15px;
}

/*Index page*/

.branding img {
  width: 25px;
  height: auto;
  margin-left: 20px;
}

.bar-header {
  background: #5a5a5e;
  padding: 8px;
}

.title {
  color: white;
  font-weight: normal;
}

.survey-footer p {
  margin-bottom: 0;
  text-align: center;
}


/*Home page*/

.submission-status {
  width: 100%;
  font-size: 16px;
}

.has-home-footer {
  bottom: 110px;
}

.home.bar-footer {
  height: 110px;
  padding: 0;
  text-align: center;
  display: block;
  border-color: transparent;
  background-image: none;
}

.survey-info {
  display: block;
}

.survey-title {
  color: #66c6ba;
  font-weight: normal;
  font-size: 1.2em !important;
}

#intro-text {
  padding-top: 80px;
}

.get-started {
  margin-bottom: 30px;
}

.new-survey {
  font-size: 1.6em;
  margin-top: -5px;
}

#status {
  height: 50px;
  padding: 10px;
  background: #e9eae8;
}

#status p {
  padding-top: 5px;
}

#status.alert {
  background: #ea7669;
}

.sync-button {
  margin-top: -5px;
  margin-left: 20px;
}

.help-text {
  margin: 15px 0;
}

/*User account page*/

#user-info {
  border-bottom: 1px solid whitesmoke;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bio {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.subtle, a.subtle {
  color: #5a5a5e;
}

.user-form label {
  color: grey;
  margin-bottom: 5px;
}

.user-form textarea {
  height: 80px;
  padding-top: 10px;
}

.bio {
  min-height: 80px;
}

#user-stats {
  padding-top: 20px;
}

/*Input display*/

.image-preview {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

label.select {
  color: grey;
  margin-bottom: 10px;
}
.survey-header {
  padding: 10px;
  font-size: 22px;
  background: rgba(10, 10, 10, .3) !important;
}

.prompt-card {
  min-height: 150px;
}

.bar-footer {
  height: auto;
  display: block;
}

.full-footer {
  display: block;
}

.full-footer .section-title {
  font-size: 18px;
  color: grey;
}

.nav-buttons {
  padding: 15px;
  background: whitesmoke;
  display: block;
  overflow: hidden;
}

.nav-buttons .button {
  min-height: 47px;
  padding: 0 12px;
}

.answer-list .item-instruction {
  font-weight: bold;
}

.progress-bar {
  display: block;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 3px;
  height: 15px;
  overflow: hidden;
}

.progress-bar .progress {
  background: #66c6ba;
  height: 100%;
}

#error-message {
  background: #f9f0ef;
  color: #ea7669;
  margin-top: 10px;
  padding-left: 20px;
}
